<div class="profile-bnr sub-bnr user-profile-bnr" ng-if="!$ctrl.isLoggedIn()">
  <div class="position-center-center">
    <div class="container">
      <h2>Privacy Policy</h2>
    </div>
  </div>
</div>
<div class="content-header" ng-if="$ctrl.isLoggedIn()">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark" translate>Privacy Policy</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a ui-sref="home" translate>NAV_HOME</a></li>
          <li class="breadcrumb-item active" translate>Privacy Policy</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<section class="content">
  <div class="container-fluid">
    <section class="pro-mem">
      <div class="container pb30">
        <div class="row">
          <div class="col-md-12">
            <u><b> Cookies</b></u>
            <br><br>
            <p>Complete2Unlock uses cookies to store information about visitors preferences, record user-specific information on which pages the user access or visit, customize Web page content based on visitors browser type or other information that the visitor
              sends via their browser.</p>
            <u><b>DoubleClick DART Cookie</b></u>
            <br><br> .:: Google, as a third party vendor, uses cookies to serve ads on Complete2Unlock.
            <br><br> .:: Google's use of the DART cookie enables it to serve ads to users based on their visit to Complete2Unlock and other sites on the Internet.
            <br><br> .:: Users may opt out of the use of the DART cookie by visiting the Google ad and content network privacy policy at the following URL - http://www.google.com/privacy_ads.html
            <br><br> Some of our advertising partners may use cookies and web beacons on our site.
            <br><br>
            <u><b>Google Adsense</b></u>
            <br><br> These third-party ad servers or ad networks use technology to the advertisements and links that appear on Complete2Unlock send directly to your browsers. They automatically receive your IP address when this occurs. Other technologies
            ( such as cookies, JavaScript, or Web Beacons ) may also be used by the third-party ad networks to measure the effectiveness of their advertisements and / or to personalize the advertising content that you see.
            <br><br> Complete2Unlock has no access to or control over these cookies that are used by third-party advertisers.
            <br><br> You should consult the respective privacy policies of these third-party ad servers for more detailed information on their practices as well as for instructions about how to opt-out of certain practices. Complete2Unlock's privacy policy
            does not apply to, and we cannot control the activities of, such other advertisers or web sites.
            <br><br> If you wish to disable cookies, you may do so through your individual browser options. More detailed information about cookie management with specific web browsers can be found at the browsers' respective websites
            <br><br>
            <u><b>Google API</b></u>
            <br><br> This website uses the Google API for authentification reasons. We use it to confirm as user has completed certain actions in order to lead him to the desired webpage. We use the Google YouTube API v3 for verifying whether a user has completed a given task in order to redirect him to a locked page that required the action of the end-user. We do not share nor save any user-data that has been generated whilst using our service.
            <br><br> We access the data through the end-user itself. They shall give us the permission through the Google Authentification Login to temporarily access certain types of data. The data used is being shown when logging in with your Google Account. We use the data only for verifiying the completion of given actions and do not store nor share the data at all.
            <br><br>
            <u><b>Publisher-Accounts</b></u>
            <p>If you register on Complete2Unlock the following data is saved:</p>
            <ul>
              <li>Your E-Mail address</li>
              <li>A securely encrypted version of your password</li>
              <li>The username you chose to enter</li>
            </ul>
            <br><br>
              <u><b>Unlock-URLs</b></u>
            <br><br>We increase the "completed" counter of the URL you just unlocked by 1 ("one").
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
